* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#mystatus {
    /* width: 100%; */
    width: 420px;
    height: 10vh;
    /* border: 1px solid blue; */
}

#pp {
    width: 13%;
    height: 70%;
    background: url(images/butterfly.jpeg);
    background-position: center;
    background-size: cover;
    margin-top: 2%;
}

#addstatus {
    width: 40%;
    height: 40%;
    position: absolute;
    top: 33px;
    left: 35px;
}

.h {
    margin-top: -8px;
    margin-left: 2px;
}

#words {
    width: 80%;
    height: 100%;
}

#peterstatus {
    /* width: 100%; */
    width: 420px;
    height: 10vh;
    /* border: 1px solid blue; */
}

#peterpp {
    width: 13%;
    height: 80%;
    background: url(images/Mr\ Peter.jpeg);
    background-position: center;
    background-size: cover;
    margin-top: 2%;
}

#okikistatus {
    /* width: 100%; */
    width: 420px;
    height: 10vh;
    /* border: 1px solid blue; */
}

#okikipp {
    width: 13%;
    height: 80%;
    background: url(images/okiki.jpeg);
    background-position: center;
    background-size: cover;
    margin-top: 2%;
}

#bolustatus {
    /* width: 100%; */
    width: 420px;
    height: 10vh;
    /* border: 1px solid blue; */
}

#bolupp {
    width: 13%;
    height: 80%;
    background: url(images/Mr\ Bolu.jpeg);
    background-position: center;
    background-size: cover;
    margin-top: 2%;
}

#akinstatus {
    /* width: 100%; */
    width: 420px;
    height: 10vh;
    /* border: 1px solid blue; */
}

#akinpp {
    width: 13%;
    height: 80%;
    background: url(images/butterfly.jpeg);
    background-position: center;
    background-size: cover;
    margin-top: 2%;
}

#salamstatus {
    /* width: 100%; */
    width: 420px;
    height: 10vh;
    /* border: 1px solid blue; */
}

#salampp {
    width: 13%;
    height: 80%;
    background: url(images/butterfly.jpeg);
    background-position: center;
    background-size: cover;
    margin-top: 2%;
}

footer {
    width: 420px;
    padding-left: 5%;
}

footer span {
    font-size: 12px;
}

#wordingstatus {
    width: 2.5%;
    height: 5vh;
    background: rgb(210, 238, 231);
    position: fixed;
    top: 600px;
    left: 370px;
}

#mediastatus {
    width: 3.5%;
    height: 7vh;
    background: green;
    padding-top: 0.7%;
    padding-left: 0.5%;
    position: fixed;
    top: 655px;
    left: 365px;
}

#threedotsdropdown {
    width: 180px;
    height: 250px;
    background: white;
    position: fixed;
    top: 70px;
    left: 215px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    z-index: 99;
    display: none;
    border: 1px solid #128c7e; ;
}
#threedotsdropdown a {
    padding-top: 25px;
    padding-left: 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}




.center {
    width: 100%;
    height: 100%;
    background-color: #128c7e;
    width: 420px;
    height: 120px;


}

.nav {
    list-style: none;
    padding: 0;
    color: white;
    font-size: 20px;
}

.lin {
    display: inline;
    position: absolute;
    left: 15px;
    top: 40px;
}

.blah {
    margin-left: 280px;
    margin-top: 40px;
    display: flex;
}

.cam {
    margin-right: 20px;
}

.search {
    margin-right: 15px;
}

.dots {
    margin-top: 5px;
}

.line {
    padding-right: 5px;
    display: inline;
    margin-top: 40px;
    margin-left: 15px;
}

.lind {
    text-align: center;
    display: inline;
    margin-left: 90px;
}

.nave {
    position: absolute;
    top: 87px;
    float: left;
    list-style: none;
    padding: 0;
    color: white;
    font-size: 15px;
}
#img3{
    margin-left: 10px;
    margin-top: 6px;
}
#img3{
    margin-left: 13px;
    margin-top: 6px;
}
.gp{
    background-color: #128c7e;
    width: 45px;
    height: 40px;
    border-radius: 10px;
     margin-left: 340px;
     margin-top: 10px; 
    position: fixed;
}
.gpz{
    background-color: #b0f0d2;
    width: 45px;
    height: 40px;
    border-radius: 10px;
     margin-left: 340px;
     margin-top: 10px; 
    position: fixed;
}
.anc {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: white;
}

.img {
    width: 17px;
}

.com {
    position: absolute;
    top: 0px;
}

.img2 {
    width: 27px;
}

.img3 {
    margin-top: -8px;
    width: 37px;
}

.img4 {
    width: 23px;
}

@media (max-width:420px) {
    #wordingstatus {
        width: 10%;
        top: 710px;
        left: 360px;
    }

    #mediastatus {
        width: 15%;
        top: 780px;
        left: 350px;
        padding-top: 3%;
        padding-left: 3%;
    }
}