* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.center {
    width: 100%;
    height: 100%;
    background-color: #128c7e;
    width: 420px;
    height: 120px;

}
#phone{
    margin-left: 250px;
    margin-top: -120px;
    width: 25px;
}
.nav {
    list-style: none;
    padding: 0;
    color: white;
    font-size: 20px;




}

.lin {
    display: inline;
    position: absolute;
    left: 15px;
    top: 40px;
}

.line {
    padding: 0px 5px;
    float: right;
    display: inline;
    margin-top: 40px;
    /* margin-left: px; */
}
#img3{
    margin-left: 3px;
}
.gp{
    background-color: #128c7e;
    width: 45px;
    height: 40px;
    border-radius: 10px;
     margin-left: 340px;
     margin-top: 10px; 
    position: fixed;
}
.goo{
    margin-right: 50px;
}
.lind {
    text-align: center;
    display: inline;
    margin-left: 90px;
}

.nave {
    position: absolute;
    top: 87px;
    float: left;
    list-style: none;
    padding: 0;
    color: white;
    font-size: 15px;
}

.anc {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: white;
}

.img {
    width: 17px;
}

.com {
    position: absolute;
    top: 0px;
}

.img2 {
    width: 27px;
}

.img3 {
    margin-top: -8px;
    width: 37px;
}

.img4 {
    width: 23px;
}

#threedotsdropdown {
    width: 180px;
    height: 250px;
    background: white;
    position: fixed;
    top: 70px;
    left: 215px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    z-index: 99;
    display:none;
    border: 1px solid #128c7e; ;
}

#threedotsdropdown a {
    padding-top: 25px;
    padding-left: 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.divy {
    border-bottom: none;
    height: 10vh;
    width: 33%;
    display: flex;
    box-sizing: border-box;
    margin-bottom: 1%;
    margin-top: 1%;
}

#bolimg {
    height: 8vh;
    width: 15%;
    border-radius: 50%;
    margin-top: 2%;
    margin-left: 2%;
}

.divy p {
    margin-left: 3%;
    margin-top: 3%;
}

#chaticon {
    margin-left: 31%;
    color: #128c7e;

}

@media (max-width:420px) {
    .divy {
        border: none;
        width: 100vw;
        height: 10vh;
    }

    #bolimg {
        height: 8vh;
        width: 10vw;
    }

    #chaticon {
        height: 20vh;
        margin-left: 22rem;
    }
}

.calldiv {
    border: none;
    height: 8vh;
    width: 32.8vw;
    display: flex;
    margin-top: 3px;
}

.calldiv1 {
    border: none;
    height: 8vh;
    width: 32.8vw;
    display: flex;
    margin-top: 3px;
}

.calldiv1 li {
    border: none;
    width: 12%;
    height: 75%;
    border-radius: 50%;
    list-style: none;
    text-align: center;
    /* background-color: #128c7e; */
    margin-left: 0.6rem;
    margin-top: 0.3rem;
}

.calldiv li {
    border: none;
    width: 12%;
    height: 75%;
    border-radius: 50%;
    list-style: none;
    text-align: center;
    background-color: #128c7e;
    margin-left: 0.6rem;
    margin-top: 0.3rem;
}

#svgcall {
    margin-top: 0.7rem;

    color: white;
}

.calld {
    margin-left: 0.6rem;
}

.calld p{
    color: grey;
    font-size: 15px;

}
#recpara {
    margin-top: 5px;
    margin-left: 1rem;
    font-size: 1em;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

#mrpetrr {
    height: 7vh;
    width: 4vw;
    border-radius: 50%;
}

#svgiconcall {
    color: #128c7e;
    margin-left: 10rem;
    margin-top: 1rem;
}

#arrowdown {
    color: red;
    /* margin-left: 0.1em; */
}

.calld h1 {
    margin-left: 0.4em;
}

.calld p {
    margin-left: 0.7em;
}

#lilisty {
    border: none;
    height: 7vh;
    width: 5vw;
    list-style: none;
    border-radius: 10px;
    text-align: center;
    margin-top: 1.4rem;
    margin-left: 20rem;
    background-color: #128c7e;
}



#lastcall {
    margin-top: 0.9rem;
    /* margin */
    color: aliceblue;
}

#mystatus {
    /* width: 100%; */
    width: 420px;
    height: 10vh;
    /* border: 1px solid blue; */
}

#pp {
    width: 13%;
    height: 70%;
    background: url(images/butterfly.jpeg);
    background-position: center;
    background-size: cover;
    margin-top: 2%;
}

#addstatus {
    width: 40%;
    height: 40%;
    position: absolute;
    top: 33px;
    left: 35px;
}

#mystatus {
    /* width: 100%; */
    width: 420px;
    height: 10vh;
    /* border: 1px solid blue; */
}

#pp {
    width: 13%;
    height: 70%;
    background: url(images/butterfly.jpeg);
    background-position: center;
    background-size: cover;
    margin-top: 2%;
}

#addstatus {
    width: 40%;
    height: 40%;
    position: absolute;
    top: 33px;
    left: 35px;
}
#peterstatus {
    /* width: 100%; */
    width: 420px;
    height: 10vh;
    /* border: 1px solid blue; */
}

#peterpp {
    width: 13%;
    height: 80%;
    background: url(images/Mr\ Peter.jpeg);
    background-position: center;
    background-size: cover;
    margin-top: 2%;
}
#okikistatus {
    /* width: 100%; */
    width: 420px;
    height: 10vh;
    /* border: 1px solid blue; */
}

#okikipp {
    width: 13%;
    height: 80%;
    background: url(images/okiki.jpeg);
    background-position: center;
    background-size: cover;
    margin-top: 2%;
}

#bolustatus {
    /* width: 100%; */
    width: 420px;
    height: 10vh;
    /* border: 1px solid blue; */
}

#bolupp {
    width: 13%;
    height: 80%;
    background: url(images/Mr\ Bolu.jpeg);
    background-position: center;
    background-size: cover;
    margin-top: 2%;
}

#akinstatus {
    /* width: 100%; */
    width: 420px;
    height: 10vh;
    /* border: 1px solid blue; */
}

#akinpp {
    width: 13%;
    height: 80%;
    background: url(images/butterfly.jpeg);
    background-position: center;
    background-size: cover;
    margin-top: 2%;
}

#salamstatus {
    /* width: 100%; */
    width: 420px;
    height: 10vh;
    /* border: 1px solid blue; */
}

#salampp {
    width: 13%;
    height: 80%;
    background: url(images/butterfly.jpeg);
    background-position: center;
    background-size: cover;
    margin-top: 2%;
}

.center {
    width: 100%;
    height: 100%;
    background-color: #128c7e;
    width: 420px;
    height: 120px;


}

.nav {
    list-style: none;
    padding: 0;
    color: white;
    font-size: 20px;
}

.lin {
    display: inline;
    position: absolute;
    left: 15px;
    top: 40px;
}

.blah {
    margin-left: 280px;
    margin-top: 40px;
    display: flex;
}

.cam {
    margin-right: 20px;
}

.search {
    margin-right: 15px;
}

.dots {
    margin-top: 5px;
}

.line {
    padding-right: 5px;
    display: inline;
    margin-top: 40px;
    margin-left: 15px;
}

.lind {
    text-align: center;
    display: inline;
    margin-left: 90px;
}

.nave {
    position: absolute;
    top: 87px;
    float: left;
    list-style: none;
    padding: 0;
    color: white;
    font-size: 15px;
}
.anc {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: white;
}

.img {
    width: 17px;
}

.com {
    position: absolute;
    top: 0px;
}

.img2 {
    width: 27px;
}

.img3 {
    margin-top: -8px;
    width: 37px;
}

.img4 {
    width: 23px;
}
/* .bi{
    margin-right: 100px;
} */
@media (max-width:420px) {
    #wordingstatus {
        width: 10%;
        top: 710px;
        left: 360px;
    }

    #mediastatus {
        width: 15%;
        top: 780px;
        left: 350px;
        padding-top: 3%;
        padding-left: 3%;
    }
}
@media (max-width:420px) {
    .calldiv {
        border: none;
        width: 100vw;
        height: 10vh;
    }

    #recpara {
        margin-left: 0.8rem;
    }

    .calldiv1 {
        border: none;
        width: 100vw;
        height: 10vh;
    }

    #mrpetrr {
        height: 8vh;
        width: 10vw;

    }

    #lilisty {
        width: 10vw;
        height: 10vh;
        margin-left: 23rem;
    }

    .calld h1 {
        font-size: 1.2rem;
    }

    .calld p {
        font-size: 0.8rem;
        color: gray;
    }
}